/* ol { counter-reset: item; padding-left: 10px; }
li { display: block }
li:before { content: counters(item, ".") " "; counter-increment: item } */

.pdti-sections a {
  color: #333;
}
.pdti-sections a:hover {
  text-decoration: none;
}

.pdti-sections h5 {
  margin-left: 20px;
}

.pdti-sections h4 {
  border-bottom: 1px solid #ddd;
}

.pdti-sections {
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid #e6e6e6;
  padding: 15px;
}

.pdti-sections:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
